name: Docker Image CI

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOCKER_PLATFORMS: linux/amd64,linux/arm64

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2.1.0
      - name: setup docker buildx
        uses: docker/setup-buildx-action@v2
        id: buildx
        with:
          install: true

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.PAT_TOKEN }}
  
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          file: Dockerfile
          cache-from: |
            type=gha .
            type=inline .
            ${{ secrets.DOCKER_USERNAME }}/duinocoin:latest
            type=registry,ref=${{ secrets.DOCKER_USERNAME }}/duinocoin:latest
          cache-to: |
            type=registry,ref=${{ secrets.DOCKER_USERNAME }}/duinocoin:latest
          tags: ${{ secrets.DOCKER_USERNAME }}/duinocoin:latest, ghcr.io/${{ secrets.DOCKER_USERNAME }}/duinocoin:latest
          github-token: ${{ secrets.PAT_TOKEN }}
